body * {  
     -moz-user-select: none !important; 
     -ms-user-select: none !important; 
     -webkit-overflow-scrolling: touch !important; 
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; 
     -webkit-touch-callout: none !important; 
     word-wrap: break-word 
}